@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
  font-family: "Inter", sans-serif;
}

header{
  z-index: 1 !important;
}

.heartStar{
  border-radius: 0px 37.5px 0px 42.5px
}

.section-container{
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4
}

.subtitle{
  @apply text-red uppercase tracking-wide font-semibold text-lg;
}

.title{
  @apply text-4xl md:text-5xl md:leading-snug font-bold my-2;
}